.circle-btn(@size) {
  width: @size;
  height: @size;
  border-radius: @size / 2;
}

.square(@size) {
  width: @size;
  height: @size;
}

.allcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcenter() {
  display: flex;
  align-items: center;
}